
#############################################################################
# global
#############################################################################

fetch --color=yes
run --color=yes
build --color=yes

common --noenable_bzlmod
common --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

#############################################################################
# imports
#############################################################################

try-import %workspace%/user.bazelrc
