
#############################################################################
# global
#############################################################################

fetch --color=yes
run --color=yes
build --color=yes

common --noenable_bzlmod
common --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1


#############################################################################
# ci
#############################################################################

common:ci --noshow_progress
common:ci --noshow_loading_progress
common:ci --test_output=errors


#############################################################################
# gcc - Use system GCC toolchain (similar to BCR testing)
#############################################################################

# Allow detection of system C++ toolchain for GCC testing
common:gcc --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=0

# Enable GCC-compatible flags in compile targets
common:gcc --//compile:use_gcc_toolchain=true


#############################################################################
# imports
#############################################################################

try-import %workspace%/user.bazelrc
