[GLOBAL]
pythonpath = ["%(buildroot)s/py/pants-toolshed"]
pants_version = "2.30.0"
backend_packages = [
    "pants.backend.python",
    "pants.backend.python.lint.docformatter",
    "pants.backend.python.lint.flake8",
    "pants.backend.python.typecheck.mypy",
    "toolshed_distribution",
    "toolshed_readme"]
pants_ignore = ["not", "/bazel/"]
build_file_prelude_globs = [
  "py/pants-toolshed/macros.py",
]
plugins = ["jinja2"]

[python]
interpreter_constraints = [">=3.12,<3.13"]
enable_resolves = true
default_resolve = "deps"

[python.resolves]
deps = "py/deps/deps.lock"
flake8 = "py/deps/flake8/flake8.lock"
pytest = "py/deps/pytest/pytest.lock"
mypy = "py/deps/mypy/mypy.lock"
docformatter = "py/deps/docformatter/docformatter.lock"

[test]
use_coverage = true

[pytest]
install_from_resolve = "pytest"

[python-infer]
imports = false

[coverage-py]
report = ["console", "html"]

[anonymous-telemetry]
enabled = false

[source]
marker_filenames = ["setup.cfg"]
root_patterns = ["py/pants-toolshed"]

[docformatter]
install_from_resolve = "docformatter"

[flake8]
install_from_resolve = "flake8"

[mypy]
install_from_resolve = "mypy"
config = "mypy.ini"
args = [
     "--explicit-package-bases",
     "--namespace-packages",
     "--no-warn-no-return"]

[update-build-files]
fmt = false
