inputs:
  images:
    type: string
    required: true
  env_prefix:
    type: string
    default: OUTPUT

outputs:
  shas:
    value: ${{ steps.images.outputs.value }}


runs:
  using: composite
  steps:
  - uses: envoyproxy/toolshed/actions/jq@69aa462c0be204fd842d01fae8d345888e44d133
    id: yaml
    with:
      input: ${{ inputs.images }}
      input-format: yaml
  - uses: envoyproxy/toolshed/actions/foreach@69aa462c0be204fd842d01fae8d345888e44d133
    id: json_actions
    with:
      items: ${{ steps.yaml.outputs.value }}
      steps: |
        - uses: envoyproxy/toolshed/actions/docker/sha@69aa462c0be204fd842d01fae8d345888e44d133
          id: $KEY
          with:
            image: >-
              %{{ fromJSON(inputs.context).items['$KEY'] }}
            env_var: ${{ inputs.env_prefix }}_$KEY

  - uses: envoyproxy/toolshed/actions/jq@69aa462c0be204fd842d01fae8d345888e44d133
    id: images
    with:
      input: ${{ steps.json_actions.outputs.out }}
      filter: |
        .
        | fromjson
        | with_entries({key: .key, value: .value.outputs.sha})
