inputs:
  images:
    type: string
    required: true
  env_prefix:
    type: string
    default: OUTPUT

outputs:
  shas:
    value: ${{ steps.images.outputs.value }}


runs:
  using: composite
  steps:
  - uses: envoyproxy/toolshed/actions/jq@c690d096b071d79027d784add67b9874ba96009d
    id: yaml
    with:
      input: ${{ inputs.images }}
      input-format: yaml
  - uses: envoyproxy/toolshed/actions/foreach@c690d096b071d79027d784add67b9874ba96009d
    id: json_actions
    with:
      items: ${{ steps.yaml.outputs.value }}
      steps: |
        - uses: envoyproxy/toolshed/actions/docker/sha@c690d096b071d79027d784add67b9874ba96009d
          id: $KEY
          with:
            image: >-
              %{{ fromJSON(inputs.context).items['$KEY'] }}
            env_var: ${{ inputs.env_prefix }}_$KEY

  - uses: envoyproxy/toolshed/actions/jq@c690d096b071d79027d784add67b9874ba96009d
    id: images
    with:
      input: ${{ steps.json_actions.outputs.out }}
      filter: |
        .
        | fromjson
        | with_entries({key: .key, value: .value.outputs.sha})
