inputs:
  images:
    type: string
    required: true
  env_prefix:
    type: string
    default: OUTPUT

outputs:
  shas:
    value: ${{ steps.images.outputs.value }}


runs:
  using: composite
  steps:
  - uses: envoyproxy/toolshed/actions/jq@7a402831161ab6c666b7db906b0e5f5d07fd38fe
    id: yaml
    with:
      input: ${{ inputs.images }}
      input-format: yaml
  - uses: envoyproxy/toolshed/actions/foreach@7a402831161ab6c666b7db906b0e5f5d07fd38fe
    id: json_actions
    with:
      items: ${{ steps.yaml.outputs.value }}
      steps: |
        - uses: envoyproxy/toolshed/actions/docker/sha@0479cd54b42382491d1b8366c759d11b3a74b087
          id: $KEY
          with:
            image: >-
              %{{ fromJSON(inputs.context).items['$KEY'] }}
            env_var: ${{ inputs.env_prefix }}_$KEY

  - uses: envoyproxy/toolshed/actions/jq@7a402831161ab6c666b7db906b0e5f5d07fd38fe
    id: images
    with:
      input: ${{ steps.json_actions.outputs.out }}
      filter: |
        .
        | fromjson
        | with_entries({key: .key, value: .value.outputs.sha})
