[test_config]
skip-clean = true
target-dir = "target/tarpaulin"
workspace = true
color = "Always"
features = "test"
exclude-files = ["runner/src/test/*", "echo/src/test/*", "glint/tests"]
run-types = ["Lib", "Bins"]

[report]
out = ["Html"]
