[test_config]
skip-clean = true
target-dir = "target/tarpaulin"
workspace = true
color = "Always"
exclude-files = ["runner/src/test/*", "echo/src/test/*", "glint/tests"]
exclude = ["integration_test"]

[report]
out = ["Html"]
