inputs:
  url:
    type: string
    required: true
  variant:
    type: string
    required: true
  image:
    type: string
    default: envoyproxy/envoy


runs:
  using: "composite"
  steps:
  - uses: envoyproxy/toolshed/actions/fetch@95be77434e71da68d0faeb483d8b914e4ad477e7
    id: fetch
    with:
      url: ${{ inputs.url }}
  - run: |
      echo "Copy oci image: oci-archive:${{ steps.fetch.outputs.path }} docker-daemon:${{ inputs.image }}:${{ inputs.variant }}"
      skopeo copy -q "oci-archive:${{ steps.fetch.outputs.path }}" "docker-daemon:${{ inputs.image }}:${{ inputs.variant }}"
      rm ${{ steps.fetch.outputs.path }}
    shell: bash
