%_signature gpg
%_gpg_path __GPG_CONFIG__
%_gpg_name __MAINTAINER__
%_gpgbin __GPG_BIN__
%__gpg_sign_cmd %{__gpg} gpg --force-v3-sigs --batch --verbose --no-armor --no-secmem-warning -u "%{_gpg_name}" -sbo %{__signature_filename} --digest-algo sha256 %{__plaintext_filename}'
