name: _publish

permissions:
  actions: read

on:
  workflow_call:
    inputs:
      conclusion:
        default: ${{ github.event.workflow_run.conclusion }}
        type: string
      sha:
        default: ${{ github.event.workflow_run.head_sha }}
        type: string
      workflows:
        type: string
        required: true


jobs:
  check-and-publish:
    permissions:
      actions: read
    if: ${{ inputs.conclusion == 'success' }}
    runs-on: ubuntu-24.04
    steps:
    - name: Check Status of All Workflows
      uses: actions/github-script@v7
      id: check_all
      with:
        script: |
          const requiredWorkflows = ["Bazel CI", "Rust CI"];
          const currentSha = "${{ inputs.sha }}";
          const { data: runs } = await github.rest.actions.listWorkflowRunsForRepo({
            owner: context.repo.owner,
            repo: context.repo.repo,
            head_sha: currentSha,
            per_page: 100
          });
          let allFinished = true;
          let runIds = {};
          for (const name of requiredWorkflows) {
            const workflowRun = runs.workflow_runs.find(r => r.name === name);
            if (!workflowRun) {
              console.log(`Workflow ${name} has not started for this commit yet.`);
              allFinished = false;
              break;
            }
            if (workflowRun.status !== 'completed' || workflowRun.conclusion !== 'success') {
              console.log(`Workflow ${name} is ${workflowRun.status} with conclusion ${workflowRun.conclusion}.`);
              allFinished = false;
              break;
            }
            runIds[name] = workflowRun.id;
          }

          if (!allFinished) {
            console.log("Not all workflows are complete/successful. Stopping.");
            return "STOP";
          }
          console.log("All workflows passed! Proceeding.");
          return runIds;

    - name: Download Artifacts (Bazel CI)
      if: ${{ steps.check_all.outputs.result != '"STOP"' }}
      uses: actions/download-artifact@v4
      with:
        run-id: ${{ fromJson(steps.check_all.outputs.result)['Bazel CI'] }}
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path: ./artifacts/bazel
    - name: Download Artifacts (Rust CI)
      if: ${{ steps.check_all.outputs.result != '"STOP"' }}
      uses: actions/download-artifact@v4
      with:
        run-id: ${{ fromJson(steps.check_all.outputs.result)['Rust CI'] }}
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path: ./artifacts/rust

    - name: Publish / Release
      if: ${{ steps.check_all.outputs.result != '"STOP"' }}
      run: |
        echo "Deploying artifacts..."
        mkdir -p artifacts
        ls -R ./artifacts
