name: _publish

permissions:
  actions: read

on:
  workflow_call:
    inputs:
      conclusion:
        default: ${{ github.event.workflow_run.conclusion }}
        type: string
      sha:
        default: ${{ github.event.workflow_run.head_sha }}
        type: string
      workflows:
        type: string
        required: true


jobs:
  check-and-publish:
    permissions:
      actions: read
    if: ${{ inputs.conclusion == 'success' }}
    runs-on: ubuntu-24.04
    steps:
    - name: Check all workflows ran
      id: afterall
      uses: envoyproxy/toolshed/gh-actions/github/afterall@bf09e91fd215754df30e54a293983484845465ca
      with:
        sha: ${{ inputs.sha }}
        workflows: ${{ inputs.workflows }}
    - name: Download Artifacts (Bazel CI)
      if: ${{ fromJSON(steps.afterall.outputs.continue) }}
      uses: actions/download-artifact@v4
      with:
        run-id: ${{ fromJSON(steps.afterall.outputs.run-ids)['Bazel CI'] }}
        path: ./artifacts/bazel
    - name: Download Artifacts (Rust CI)
      if: ${{ fromJSON(steps.afterall.outputs.continue) }}
      uses: actions/download-artifact@v4
      with:
        run-id: ${{ fromJSON(steps.afterall.outputs.run-ids)['Rust CI'] }}
        path: ./artifacts/rust

    - name: Publish / Release
      if: ${{ fromJSON(steps.afterall.outputs.continue) }}
      run: |
        echo "Deploying artifacts..."
        mkdir -p artifacts
        ls -R ./artifacts
