name: _publish

permissions:
  actions: read

on:
  workflow_call:
    secrets:
      app-id:
      app-key:

    inputs:
      actions-version:
        default:
        type: string
      actions-version-file:
        default: gh-actions/VERSION.txt
        type: string
      bazel-version:
        default:
        type: string
      bazel-version-file:
        default: bazel/VERSION.txt
        type: string
      bins-version:
        default:
        type: string
      bins-version-file:
        default: BINS_VERSION.txt
        type: string
      commit-message:
        default: ${{ github.event.workflow_run.head_commit.message }}
        type: string
      conclusion:
        default: ${{ github.event.workflow_run.conclusion }}
        type: string
      dry-run:
        default: false
        type: boolean
      event:
        default: ${{ github.event.workflow_run.event }}
        type: string
      pr:
        default: >-
          ${{ github.event.workflow_run.event == 'pull_request'
              && toJSON(github.event.workflow_run.pull_requests)[0]
              || '{}' }}
        type: string
      python-version:
        default:
        type: string
      python-version-file:
        default: py/VERSION.txt
        type: string
      repository:
        default: ${{ github.repository }}
        type: string
      sha:
        default: ${{ github.event.workflow_run.head_sha }}
        type: string
      skip:
        type: boolean
        default: false
      template-pr-link:
        type: string
        default: >-
          ([PR #\($pr.number)](https://github.com/\($repo)/pull/\($pr.number)))
      template-release-message:
        type: string
        default: |
          ### Release created [\($version)](https://github.com/\(.repository)/releases/\($version)) \($dry_run)
      template-status:
        type: string
        default: |
          ## Publish workflow: \(.event) \($release_info)

          ### \($title)

          **Commit:** [\($sha[0:7])](https://github.com/\($repo)/commit/\($sha)) \($pr_link)
          **Continue:** `\(.continue)`


      workflows:
        type: string
        required: true


jobs:
  publish:
    permissions:
      actions: read
    if: >-
      inputs.conclusion == 'success'
      && ! inputs.skip
    runs-on: ubuntu-24.04
    steps:
    - name: Check all workflows ran
      id: afterall
      uses: envoyproxy/toolshed/gh-actions/github/afterall@225974ffa607ccd57a1dc7f24db2a45cd47d2fd8
      with:
        sha: ${{ inputs.sha }}
        workflows: ${{ inputs.workflows }}
        repo: ${{ inputs.repository }}
    - uses: envoyproxy/toolshed/gh-actions/appauth@225974ffa607ccd57a1dc7f24db2a45cd47d2fd8
      id: appauth
      name: Appauth
      if: >-
        fromJSON(steps.afterall.outputs.continue)
        && inputs.event == 'push'
        && ! inputs.dry-run
      with:
        app_id: ${{ secrets.app-id }}
        key: ${{ secrets.app-key }}
        token: ${{ github.token }}
        token-ok: true
    - name: Checkout the repo
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

    - name: Actions version info
      id: actions
      uses: envoyproxy/toolshed/gh-actions/version@225974ffa607ccd57a1dc7f24db2a45cd47d2fd8
      with:
        version: ${{ inputs.actions-version }}
        version-file: ${{ inputs.actions-version-file }}
    - name: Bazel version info
      id: bazel
      uses: envoyproxy/toolshed/gh-actions/version@225974ffa607ccd57a1dc7f24db2a45cd47d2fd8
      with:
        version: ${{ inputs.bazel-version }}
        version-file: ${{ inputs.bazel-version-file }}
    - name: Bins version info
      id: bins
      uses: envoyproxy/toolshed/gh-actions/version@225974ffa607ccd57a1dc7f24db2a45cd47d2fd8
      with:
        version: ${{ inputs.bins-version }}
        version-file: ${{ inputs.bins-version-file }}
    - name: Python version info
      id: python
      uses: envoyproxy/toolshed/gh-actions/version@225974ffa607ccd57a1dc7f24db2a45cd47d2fd8
      with:
        version: ${{ inputs.python-version }}
        version-file: ${{ inputs.python-version-file }}

    - name: Commit messsage
      id: commit-message
      uses: envoyproxy/toolshed/gh-actions/jq@225974ffa607ccd57a1dc7f24db2a45cd47d2fd8
      with:
        options: -sRr
        input: |
          ${{ inputs.commit-message }}
        filter: |
          split("\n") | first
    - name: Status summary title
      id: status-summary-title
      uses: envoyproxy/toolshed/gh-actions/jq@225974ffa607ccd57a1dc7f24db2a45cd47d2fd8
      with:
        input: |
          actions: ${{ steps.actions.outputs.version }}
          bazel: ${{ steps.bazel.outputs.version }}
          bins: ${{ steps.bins.outputs.version }}
          event: ${{ inputs.event }}
          sha: ${{ inputs.sha }}
          continue: ${{ steps.afterall.outputs.continue }}
          python: ${{ steps.python.outputs.version }}
          repository: ${{ inputs.repository }}
          pr: ${{ inputs.pr }}
          commit_message: |
            ${{ steps.commit-message.outputs.value }}
        input-format: yaml
        options: -r
        output-path: GITHUB_STEP_SUMMARY
        filter: |
          .sha as $sha
          | .repository as $repo
          | ([
               (if .actions.is_dev then "" else "actions-v\(.actions.version)" end),
               (if .bazel.is_dev then "" else "bazel-v\(.bazel.version)" end),
               (if .bins.is_dev then "" else "bins-v\(.bins.version)" end),
               (if .python.is_dev then "" else "python-v\(.python.version)" end)
             ]
             | map(select(. != ""))
             | if length > 0 then
                 "(release: \(join(", ")))"
               else ""
               end) as $release_info
          | (if .event == "pull_request" and .pr != null and .pr != "{}" and .pr != "" then
               .pr
               | if type == "object" then .
                 else fromjson end
             else {} end) as $pr
          | (if $pr.number then
               $pr.title // "PR #\($pr.number)"
             else .commit_message
             end) as $title
          | (if $pr.number then
               "${{ inputs.template-pr-link }}"
             else ""
             end) as $pr_link
          | "${{ inputs.template-status }}"
    - name: Versions info
      uses: envoyproxy/toolshed/gh-actions/json/table@225974ffa607ccd57a1dc7f24db2a45cd47d2fd8
      with:
        append: true
        output-path: GITHUB_STEP_SUMMARY
        collapse: false
        input: |
          actions: ${{ steps.actions.outputs.version }}
          bazel: ${{ steps.bazel.outputs.version }}
          bins: ${{ steps.bins.outputs.version }}
          python: ${{ steps.python.outputs.version }}
        headers:
        input-format: yaml
        filter: |
          .
          | (if .actions.is_dev then ""
             else "**(RELEASE)**"
             end) as $actions_release
          | (if .bazel.is_dev then ""
             else "**(RELEASE)**"
             end) as $bazel_release
          | (if .bins.is_dev then ""
             else "**(RELEASE)**"
             end) as $bins_release
          | (if .python.is_dev then ""
             else "**(RELEASE)**"
             end) as $python_release
          | (if .python.is_dev then ""
             else "**(RELEASE)**"
             end) as $python_release
          | {
              "Actions version": "\(.actions.version) \($actions_release)",
              "Bins version": "\(.bins.version) \($bins_release)",
              "Bazel version": "\(.bazel.version) \($bazel_release)",
              "Python version": "\(.python.version) \($python_release)",
            }

    - name: Generate workflow status table
      uses: envoyproxy/toolshed/gh-actions/json/table@225974ffa607ccd57a1dc7f24db2a45cd47d2fd8
      with:
        title: Required Workflows Status
        append: true
        output-path: GITHUB_STEP_SUMMARY
        collapse-open: ${{ ! fromJSON(steps.afterall.outputs.continue) }}
        headers: |
          Workflow
          Status/conclusion
        input: |
          ${{ steps.afterall.outputs.status }}
        filter: |
          . as $data
          | (.status | fromjson) as $status
          | ($data["run-ids"] | fromjson) as $runIds
          | "${{ inputs.workflows }}" | split("\n") | map(select(length > 0)) as $workflows
          | ${{ toJSON(inputs.repository) }} as $repo
          | $workflows
          | map(
              . as $wf
              | if $status[$wf] then
                  $status[$wf] as $st
                  | ($st.conclusion // "pending") as $conclusion
                  | {key: "[\($wf) (#\($st.id))](https://github.com/\($repo)/actions/runs/\($st.id))",
                     value: "`\($st.status)`/`\($conclusion)`"}
                else
                  {key: $wf, value: "-"}
                end
            )
          | from_entries

    - name: Download Artifacts (Bazel CI)
      if: fromJSON(steps.afterall.outputs.continue)
      uses: actions/download-artifact@v7
      with:
        github-token: ${{ github.token }}
        run-id: ${{ fromJSON(steps.afterall.outputs.run-ids)['Bazel CI'] }}
        path: ./artifacts/bazel
        repository: ${{ inputs.repository }}
    - name: Download Artifacts (Rust CI)
      if: fromJSON(steps.afterall.outputs.continue)
      uses: actions/download-artifact@v7
      with:
        github-token: ${{ github.token }}
        run-id: ${{ fromJSON(steps.afterall.outputs.run-ids)['Rust CI'] }}
        path: ./artifacts/rust
        repository: ${{ inputs.repository }}
    - name: Download Artifacts (Python CI)
      if: fromJSON(steps.afterall.outputs.continue)
      uses: actions/download-artifact@v7
      with:
        github-token: ${{ github.token }}
        run-id: ${{ fromJSON(steps.afterall.outputs.run-ids)['Python CI'] }}
        pattern: python-artifacts
        path: ./artifacts/python
        repository: ${{ inputs.repository }}
    - name: List downloaded artifacts
      id: artifacts
      if: fromJSON(steps.afterall.outputs.continue)
      uses: envoyproxy/toolshed/gh-actions/bson@225974ffa607ccd57a1dc7f24db2a45cd47d2fd8
      with:
        catch-errors: true
        input: |
          OUTPUT=$(find ./artifacts -type f | xargs -I{} sh -c 'echo "$(stat -c %s "{}") {}"')
        filter: bash::output
        input-format: text
        options: -Rr
        result-filter-options: -sRc
        result-filter: |
          .
          | split("\n")
          | map(
              select(length > 0)
              | split(" ")
              | (.[1]
                 | split("/")[-1] as $name
                 | split("/")[2] as $ci
                 | "\($ci):\($name)") as $key
              | {key: ($key),
                 value: {path: .[1], size: (.[0] | tonumber)}}
            )
          | sort_by(.key)
          | from_entries
    - name: Artifact sizes
      id: artifact-sizes
      if: fromJSON(steps.afterall.outputs.continue)
      uses: envoyproxy/toolshed/gh-actions/jq@225974ffa607ccd57a1dc7f24db2a45cd47d2fd8
      with:
        input: ${{ steps.artifacts.outputs.output }}
        filter: |
          map_values(.size | utils::bytesize)
    - name: Generate workflow artifacts table
      uses: envoyproxy/toolshed/gh-actions/json/table@225974ffa607ccd57a1dc7f24db2a45cd47d2fd8
      with:
        title: Artifacts to publish
        append: true
        output-path: GITHUB_STEP_SUMMARY
        headers: |
          Name
          Size
        input: ${{ steps.artifact-sizes.outputs.value }}

    - name: >-
        Create release
        ${{ (inputs.event == 'pull_request' || inputs.dry-run)
             && '(dry-run)'
             || ''  }}
      if: >-
        fromJSON(steps.afterall.outputs.continue)
        && (! fromJSON(steps.actions.outputs.version).is_dev
            || ! fromJSON(steps.bazel.outputs.version).is_dev
            || ! fromJSON(steps.bins.outputs.version).is_dev
            || ! fromJSON(steps.python.outputs.version).is_dev
            || inputs.event == 'pull_request')
      uses: envoyproxy/toolshed/gh-actions/jq@225974ffa607ccd57a1dc7f24db2a45cd47d2fd8
      with:
        input: |
          actions: ${{ steps.actions.outputs.version }}
          bins: ${{ steps.bins.outputs.version }}
          bazel: ${{ steps.bazel.outputs.version }}
          dry_run: ${{ inputs.dry-run }}
          event: ${{ inputs.event }}
          python: ${{ steps.python.outputs.version }}
          repository: ${{ inputs.repository }}
          sha: ${{ inputs.sha }}
        input-format: yaml
        options: -r
        output-path: GITHUB_STEP_SUMMARY
        filter: |
          .
          | (if (.event == "pull_request" or .dry_run) then "**(DRY RUN)**"
             else ""
             end) as $dry_run
          | (if .actions.is_dev then ""
             else
               ("actions-v\(.actions.version)" as $version
                | "${{ inputs.template-release-message }}")
             end) as $actions_release
          | (if .bazel.is_dev then ""
             else
               ("bazel-v\(.bazel.version)" as $version
                | "${{ inputs.template-release-message }}")
             end) as $bazel_release
          | (if .bins.is_dev then ""
             else
               ("bins-v\(.bins.version)" as $version
                | "${{ inputs.template-release-message }}")
             end) as $bins_release
          | (if .python.is_dev then ""
             else
               ("python-v\(.python.version)" as $version
                | "${{ inputs.template-release-message }}")
             end) as $python_release
          | [$actions_release, $bazel_release, $bins_release, $python_release]
          | map(select(. != ""))
          | join("\n\n")
