name: _publish_release

permissions:
  actions: read

on:
  workflow_call:
    secrets:
      app-id:
      app-key:
      gpg-key:
      gpg-key-password:

    inputs:
      artifact-workflows:
        type: string
        required: true
      artifacts:
        type: boolean
        default: false
      committer-email:
        required: true
        type: string
      committer-name:
        required: true
        type: string
      dry-run:
        default: false
        type: boolean
      event:
        default: ${{ github.event.workflow_run.event }}
        type: string
      fail-if-exists:
        default: false
        type: boolean
      filter-artifacts:
        default: .
        type: string
      name:
        required: true
        type: string
      repository:
        default: ${{ github.repository }}
        type: string
      sha:
        default: ${{ github.event.workflow_run.head_sha }}
        type: string
      title:
        default: ${{ github.event.workflow_run.head_commit.message }}
        type: string
      version:
        default:
        type: string
      version-file:
        required: true
        type: string
      workflows:
        type: string
        required: true


jobs:
  release:
    permissions:
      actions: read
    name: release (${{ inputs.name }})
    runs-on: ubuntu-24.04
    steps:
    - uses: envoyproxy/toolshed/actions/appauth@c690d096b071d79027d784add67b9874ba96009d
      id: appauth
      name: Appauth
      if: >-
        inputs.event == 'push'
        && ! inputs.dry-run
      with:
        app_id: ${{ secrets.app-id }}
        key: ${{ secrets.app-key }}
    - id: checkout
      name: Checkout the repository
      uses: envoyproxy/toolshed/actions/github/checkout@c690d096b071d79027d784add67b9874ba96009d
      with:
        branch: main
        committer-name: ${{ inputs.committer-name }}
        committer-email: ${{ inputs.committer-email }}
        config: |
          ref: ${{ inputs.sha }}
        pr: ${{ inputs.event == 'pull_request' && github.event.pull_request.number || '' }}
        token: ${{ steps.appauth.outputs.token }}
    - name: Initialize GPG
      id: gpg
      if: >-
        inputs.artifacts
      uses: envoyproxy/toolshed/actions/gpg@c690d096b071d79027d784add67b9874ba96009d
      with:
        gpg-key: ${{ secrets.gpg-key }}
        gpg-password: ${{ secrets.gpg-password }}
    - name: Release title (eg commit message)
      id: title
      uses: envoyproxy/toolshed/actions/jq@c690d096b071d79027d784add67b9874ba96009d
      with:
        options: -sRr
        input: |
          ${{ inputs.title }}
        filter: |
          split("\n") | first
    - name: Publish the release
      uses: envoyproxy/toolshed/actions/github/release@c690d096b071d79027d784add67b9874ba96009d
      with:
        artifact-workflows: ${{ inputs.artifact-workflows }}
        artifacts: ${{ inputs.artifacts }}
        dry-run: ${{ inputs.dry-run }}
        event: ${{ inputs.event }}
        fail-if-exists: ${{ inputs.fail-if-exists }}
        filter-artifacts: ${{ inputs.filter-artifacts }}
        gpg-fingerprint: ${{ steps.gpg.outputs.fingerprint }}
        gpg-passphrase: ${{ steps.gpg.outputs.passphrase }}
        name: ${{ inputs.name }}
        repository: ${{ inputs.repository }}
        sha: ${{ inputs.sha }}
        summary: true
        title: ${{ steps.title.outputs.value }}
        token: ${{ steps.appauth.outputs.token || github.token }}
        version: ${{ inputs.version }}
        version-file: ${{ inputs.version-file }}
        workflows: ${{ inputs.workflows }}
