name: _publish_release

permissions:
  actions: read

on:
  workflow_call:
    secrets:
      app-id:
      app-key:
      gpg-key:
      gpg-password:

    inputs:
      artifact-workflows:
        type: string
        required: true
      artifacts:
        type: boolean
        default: false
      committer-email:
        required: true
        type: string
      committer-name:
        required: true
        type: string
      dry-run:
        default: false
        type: boolean
      event:
        default: ${{ github.event.workflow_run.event }}
        type: string
      fail-if-exists:
        default: false
        type: boolean
      filter-artifacts:
        default: .
        type: string
      name:
        required: true
        type: string
      prepare-dev:
        required: false
        type: string
      repository:
        default: ${{ github.repository }}
        type: string
      sha:
        default: ${{ github.event.workflow_run.head_sha }}
        type: string
      template-artifacts:
        type: string
        default: |
          \($name)-{artifacts,source}*
      title:
        default: ${{ github.event.workflow_run.head_commit.message }}
        type: string
      version:
        default:
        type: string
      version-file:
        required: true
        type: string
      workflows:
        type: string
        required: true


jobs:
  release:
    permissions:
      actions: read
    name: release (${{ inputs.name }})
    runs-on: ubuntu-24.04
    steps:
    - uses: envoyproxy/toolshed/actions/appauth@9e23dddd74d612f3971c03138d265780e8a5ece7
      id: appauth
      name: Appauth
      if: >-
        inputs.event == 'push'
        && ! inputs.dry-run
      with:
        app_id: ${{ secrets.app-id }}
        key: ${{ secrets.app-key }}
    - id: checkout
      name: Checkout the repository
      uses: envoyproxy/toolshed/actions/github/checkout@9e23dddd74d612f3971c03138d265780e8a5ece7
      with:
        branch: main
        committer-name: ${{ inputs.committer-name }}
        committer-email: ${{ inputs.committer-email }}
        config: |
          ref: ${{ inputs.sha }}
        pr: ${{ inputs.event == 'pull_request' && github.event.pull_request.number || '' }}
        token: ${{ steps.appauth.outputs.token }}

    - if: inputs.dry-run
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      with:
        path: temprepo
    - if: inputs.dry-run
      run: |
        cp -a temprepo/.github/workflows/prepare_bazel_dev.sh .github/workflows
        rm -rf temprepo
    - name: Initialize GPG
      id: gpg
      if: >-
        inputs.artifacts
      uses: envoyproxy/toolshed/actions/gpg@9e23dddd74d612f3971c03138d265780e8a5ece7
      with:
        gpg-key: ${{ ! inputs.dry-run && secrets.gpg-key || '' }}
        gpg-password: ${{ ! inputs.dry-run && secrets.gpg-password || '' }}
    - name: Release title (eg commit message)
      id: title
      uses: envoyproxy/toolshed/actions/jq@9e23dddd74d612f3971c03138d265780e8a5ece7
      with:
        options: -sRr
        input: |
          ${{ inputs.title }}
        filter: |
          split("\n") | first

    - name: Publish the release
      uses: envoyproxy/toolshed/actions/github/release@9e23dddd74d612f3971c03138d265780e8a5ece7
      with:
        artifact-workflows: ${{ inputs.artifact-workflows }}
        artifacts: ${{ inputs.artifacts }}
        dry-run: ${{ inputs.dry-run }}
        event: ${{ inputs.event }}
        fail-if-exists: ${{ inputs.fail-if-exists }}
        filter-artifacts: ${{ inputs.filter-artifacts }}
        gpg-fingerprint: ${{ steps.gpg.outputs.fingerprint }}
        gpg-passphrase: ${{ steps.gpg.outputs.passphrase }}
        name: ${{ inputs.name }}
        prepare-dev: ${{ inputs.prepare-dev && format('{0}/{1}', github.workspace, inputs.prepare-dev) || '' }}
        repository: ${{ inputs.repository }}
        sha: ${{ inputs.sha }}
        summary: true
        template-artifacts: ${{ inputs.template-artifacts }}
        title: ${{ steps.title.outputs.value }}
        token: ${{ steps.appauth.outputs.token || github.token }}
        version: ${{ inputs.version }}
        version-file: ${{ inputs.version-file }}
        workflows: ${{ inputs.workflows }}
