name: _publish

permissions:
  actions: read

on:
  workflow_call:
    secrets:
      app-id:
      app-key:
      gpg-key:
      gpg-password:

    inputs:
      actions-version:
        default:
        type: string
      actions-version-file:
        default: actions/VERSION.txt
        type: string
      bazel-version:
        default:
        type: string
      bazel-version-file:
        default: bazel/VERSION.txt
        type: string
      bins-version:
        default:
        type: string
      bins-version-file:
        default: BINS_VERSION.txt
        type: string
      committer-email:
        required: true
        type: string
      committer-name:
        required: true
        type: string
      conclusion:
        default: ${{ github.event.workflow_run.conclusion }}
        type: string
      dry-run:
        default: false
        type: boolean
      event:
        default: ${{ github.event.workflow_run.event }}
        type: string
      fail-if-exists:
        default: false
        type: boolean
      python-filter-artifacts:
        default:
        type: string
      python-version:
        default:
        type: string
      python-version-file:
        default: py/VERSION.txt
        type: string
      repository:
        default: ${{ github.repository }}
        type: string
      sha:
        default: ${{ github.event.workflow_run.head_sha }}
        type: string
      title:
        default: ${{ github.event.workflow_run.head_commit.message }}
        type: string
      skip:
        type: boolean
        default: false


jobs:
  publish:
    permissions:
      actions: read
    secrets:
      app-id: ${{ secrets.app-id }}
      app-key: ${{ secrets.app-key }}
      gpg-key: ${{ secrets.gpg-key }}
      gpg-password: ${{ secrets.gpg-password }}
    if: >-
      inputs.conclusion == 'success'
      && ! inputs.skip
    name: ${{ matrix.name }}
    uses: ./.github/workflows/_publish_release.yml
    with:
      artifact-workflows: ${{ matrix.artifact-workflows }}
      artifacts: ${{ matrix.artifacts || false }}
      committer-email: ${{ inputs.committer-email }}
      committer-name: ${{ inputs.committer-name }}
      dry-run: ${{ inputs.dry-run }}
      event: ${{ inputs.event }}
      fail-if-exists: ${{ inputs.fail-if-exists }}
      filter-artifacts: >-
        ${{ matrix.filter-artifacts
            || '.' }}
      name: ${{ matrix.name }}
      prepare-dev: ${{ matrix.prepare-dev }}
      sha: ${{ inputs.sha }}
      template-artifacts: ${{ matrix.template-artifacts }}
      title: ${{ inputs.title }}
      version: ${{ matrix.version }}
      version-file: ${{ matrix.version-file }}
      # Wait for all workflows to complete or else publishing
      # is repeatedly triggered
      workflows: |
        Bazel CI
        Github/actions CI
        Python CI
        Rust CI
    strategy:
      fail-fast: false
      # Best not to run in parallel for real releases as it
      # can push to main and potentially conflict
      max-parallel: ${{ (! inputs.dry-run) && 1 || 0 }}
      matrix:
        include:
        - name: actions
          artifact-workflows: |
            Github/actions CI
          version: ${{ inputs.actions-version }}
          version-file: ${{ inputs.actions-version-file }}
        - name: bazel
          artifact-workflows: |
            Bazel CI
          artifacts: true
          prepare-dev: .github/workflows/prepare_bazel_dev.sh
          template-artifacts: |
            \($name)-source*
          version: ${{ inputs.bazel-version }}
          version-file: ${{ inputs.bazel-version-file }}
        - name: bins
          artifact-workflows: |
            Bazel CI
            Rust CI
          artifacts: true
          version: ${{ inputs.bins-version }}
          version-file: ${{ inputs.bins-version-file }}
        - name: python
          artifact-workflows: |
            Python CI
          artifacts: true
          filter-artifacts: >-
            ${{ inputs.python-filter-artifacts
                || 'select($key | contains(".dev") | not)' }}
          version: ${{ inputs.python-version }}
          version-file: ${{ inputs.python-version-file }}
