name: _publish

permissions:
  actions: read

on:
  workflow_call:
    inputs:
      conclusion:
        default: ${{ github.event.workflow_run.conclusion }}
        type: string
      sha:
        default: ${{ github.event.workflow_run.head_sha }}
        type: string
      workflows:
        type: string
        required: true


jobs:
  check-and-publish:
    permissions:
      actions: read
    if: ${{ inputs.conclusion == 'success' }}
    runs-on: ubuntu-24.04
    steps:
    - name: Check all workflows ran
      id: afterall
      uses: envoyproxy/toolshed/gh-actions/github/afterall@bf09e91fd215754df30e54a293983484845465ca
      with:
        sha: ${{ inputs.sha }}
        workflows: ${{ inputs.workflows }}
    - name: Find associated PR
      id: find-pr
      uses: envoyproxy/toolshed/gh-actions/bson@actions-v0.3.35
      env:
        GH_TOKEN: ${{ github.token }}
      with:
        catch-errors: true
        input: |
          repo: ${{ github.repository }}
          sha: ${{ inputs.sha }}
        input-format: yaml
        filter: |
          .repo as $repo
          | .sha as $sha
          | ("gh api --jq '[.[] | {number, created_at}] | sort_by(.created_at) | last | .number' "
             + "\"/repos/\($repo)/commits/\($sha)/pulls\"") as $cmd
          | "OUTPUT=$(\($cmd))"
          | bash::output
        result-filter: |
          if . != "" then . else "null" end
    - name: Workflow Status Summary
      uses: envoyproxy/toolshed/gh-actions/jq@actions-v0.3.35
      with:
        input: |
          sha: ${{ inputs.sha }}
          conclusion: ${{ inputs.conclusion }}
          continue: ${{ steps.afterall.outputs.continue }}
          status: ${{ fromJSON(steps.afterall.outputs.status).status }}
          run-ids: ${{ fromJSON(steps.afterall.outputs.status)['run-ids'] }}
          repository: ${{ github.repository }}
          pr: ${{ steps.find-pr.outputs.output }}
        input-format: yaml
        options: -r
        output-path: GITHUB_STEP_SUMMARY
        filter: |
          .sha as $sha
          | .conclusion as $conclusion
          | .continue as $continue
          | (.status | fromjson) as $status
          | (."run-ids" | fromjson) as $runIds
          | .repository as $repo
          | .pr as $pr
          | "## Publish Workflow Triggered\n\n"
          | . + "**Commit SHA:** [\($sha)](https://github.com/\($repo)/commit/\($sha))"
          | if $pr != "null" then
              . + " ([PR #\($pr)](https://github.com/\($repo)/pull/\($pr)))"
            else . end
          | . + "\n**Conclusion:** \($conclusion)\n"
          | . + "**Continue:** \($continue)\n\n"
          | . + "### Required Workflows Status\n\n"
          | . as $header
          | ($status
             | to_entries
             | map("- **\(.key):** Status: `\(.value.status)`, Conclusion: `\(.value.conclusion)`, Run ID: `\(.value.id)`")
             | join("\n")) as $statusList
          | $header + $statusList + "\n\n"
          | . + "### Workflow Run IDs\n\n"
          | . as $beforeRunIds
          | ($runIds
             | to_entries
             | map("- **\(.key):** [\(.value)](https://github.com/\($repo)/actions/runs/\(.value))")
             | join("\n")) as $runIdList
          | $beforeRunIds + $runIdList
    - name: Download Artifacts (Bazel CI)
      if: ${{ fromJSON(steps.afterall.outputs.continue) }}
      uses: actions/download-artifact@v4
      with:
        run-id: ${{ fromJSON(steps.afterall.outputs.run-ids)['Bazel CI'] }}
        path: ./artifacts/bazel
    - name: Download Artifacts (Rust CI)
      if: ${{ fromJSON(steps.afterall.outputs.continue) }}
      uses: actions/download-artifact@v4
      with:
        run-id: ${{ fromJSON(steps.afterall.outputs.run-ids)['Rust CI'] }}
        path: ./artifacts/rust

    - name: Publish / Release
      if: ${{ fromJSON(steps.afterall.outputs.continue) }}
      run: |
        echo "Deploying artifacts..."
        mkdir -p artifacts
        ls -R ./artifacts
