name: Github/actions

on:
  push:
    branches:
    - main
  pull_request:

permissions:
  contents: read

jobs:
  should:
    runs-on: ubuntu-24.04
    outputs:
      run: ${{ steps.filter.outputs.run }}
    steps:
    - uses: envoyproxy/toolshed/gh-actions/github/should-run@bccac0f1695cc07c67c46d5f494db6cef3e0a94e
      id: filter
      with:
        config: |
          paths:
          - 'gh-actions/**'
          - '.github/workflows/actions.yml'

  gh-actions:
    runs-on: ubuntu-24.04
    needs: should
    if: fromJSON(needs.should.outputs.run)
    strategy:
      fail-fast: false
      matrix:
        node-version:
        - 20.x
        name:
        - appauth
        - dispatch
        - github/checks
        - github/mutex
        - github/script/run
        - hashfiles
        - jq
        - retest
        - torun
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f  # v6.1.0
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
      working-directory: gh-actions/${{ matrix.name }}
    - run: npm run lint
      working-directory: gh-actions/${{ matrix.name }}
    - run: npm test
      working-directory: gh-actions/${{ matrix.name }}
    - run: |
        npm run build
        if [[ $(git status --porcelain) ]]; then
            echo 'Built javascript does not match, did you run `npm run build`?' >&2
            git status
            git diff
            exit 1
        fi
      working-directory: gh-actions/${{ matrix.name }}

  status:
    runs-on: ubuntu-24.04
    if: >-
      always()
      && github.event_name == 'pull_request'
    name: Actions
    needs:
    - should
    - gh-actions
    steps:
    - run: |
        if [[ "${{ contains(needs.*.result, 'failure') }}" == "true" || "${{ contains(needs.*.result, 'cancelled') }}" == "true" ]]; then
            echo "One or more jobs failed or were cancelled"
            exit 1
        fi
        echo "All required jobs passed or were skipped"
