name: Github/actions CI

on:
  push:
    branches:
    - main
  pull_request:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true


jobs:
  request:
    runs-on: ubuntu-24.04
    outputs:
      run: ${{ steps.filter.outputs.run }}
      tests: ${{ steps.tests.outputs.output }}
    steps:
    - uses: envoyproxy/toolshed/gh-actions/github/should-run@3067ae34d13c569fe1651da3346dcba517701000
      id: filter
      with:
        config: |
          paths:
          - 'gh-actions/**'
          - '.github/workflows/actions.yml'
    - id: tests
      uses: envoyproxy/toolshed/gh-actions/bson@3067ae34d13c569fe1651da3346dcba517701000
      with:
        input: |
          OUTPUT="$(find gh-actions -path "*/tests/*.test.yml" -type f)"
        filter: |
          bash::output
        result-filter: |
          split("\n")
          | map(select(length > 0))

  actions:
    runs-on: ubuntu-24.04
    needs: request
    if: >-
      fromJSON(needs.request.outputs.run)
      && needs.request.outputs.tests != '[]'
    strategy:
      fail-fast: false
      matrix:
        test: ${{ fromJSON(needs.request.outputs.tests) }}
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
    - name: Run test
      uses: envoyproxy/toolshed/gh-actions/test-runner@3067ae34d13c569fe1651da3346dcba517701000
      with:
        config: ${{ matrix.test }}
        name: ${{ matrix.test }}

  js-actions:
    runs-on: ubuntu-24.04
    needs: request
    if: fromJSON(needs.request.outputs.run)
    strategy:
      fail-fast: false
      matrix:
        node-version:
        - 20.x
        name:
        - appauth
        - dispatch
        - github/checks
        - github/mutex
        - github/script/run
        - hashfiles
        - jq
        - retest
        - torun
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f  # v6.1.0
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
      working-directory: gh-actions/${{ matrix.name }}
    - run: npm run lint
      working-directory: gh-actions/${{ matrix.name }}
    - run: npm test
      working-directory: gh-actions/${{ matrix.name }}
    - run: |
        npm run build
        if [[ $(git status --porcelain) ]]; then
            echo 'Built javascript does not match, did you run `npm run build`?' >&2
            git status
            git diff
            exit 1
        fi
      working-directory: gh-actions/${{ matrix.name }}

  status:
    runs-on: ubuntu-24.04
    if: >-
      always()
      && github.event_name == 'pull_request'
    name: Actions
    needs:
    - request
    - actions
    - js-actions
    steps:
    - run: |
        if [[ "${{ contains(needs.*.result, 'failure') }}" == "true" || "${{ contains(needs.*.result, 'cancelled') }}" == "true" ]]; then
            echo "One or more jobs failed or were cancelled"
            exit 1
        fi
        echo "All required jobs passed or were skipped"
