name: Github/actions

on:
  push:
    branches:
    - main
    paths:
    - gh-actions/**
    - .github/workflows/actions.yml
  pull_request:
    paths:
    - gh-actions/**
    - .github/workflows/actions.yml

permissions:
  contents: read

jobs:
  gh-actions:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        node-version:
        - 20.x
        name:
        - appauth
        - dispatch
        - github/checks
        - github/mutex
        - github/script/run
        - hashfiles
        - jq
        - retest
        - torun
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903  # v6.0.0
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
      working-directory: gh-actions/${{ matrix.name }}
    - run: npm run lint
      working-directory: gh-actions/${{ matrix.name }}
    - run: npm test
      working-directory: gh-actions/${{ matrix.name }}
    - run: |
        npm run build
        if [[ $(git status --porcelain) ]]; then
            echo 'Built javascript does not match, did you run `npm run build`?' >&2
            git status
            git diff
            exit 1
        fi
      working-directory: gh-actions/${{ matrix.name }}
