name: Bazel tests

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
    - main
  release:
    types:
    - published

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  should:
    runs-on: ubuntu-24.04
    if: github.event_name != 'release'
    outputs:
      run: ${{ steps.filter.outputs.run }}
    steps:
    - uses: envoyproxy/toolshed/gh-actions/github/should-run@c04bdf5c854da00a30144f3597967e73ca376f38
      id: filter
      with:
        config: |
          paths:
          - 'bazel/**'
          - '.github/workflows/bazel.yml'

  test:
    runs-on: ubuntu-24.04
    needs: should
    if: >-
      always()
      && github.event_name != 'release'
      && fromJSON(needs.should.outputs.run || 'false')
    strategy:
      fail-fast: false
      matrix:
        mode: [workspace, bzlmod]
    name: test (${{ matrix.mode }})
    steps:
    - name: Checkout Repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

    - name: Setup Bazel
      uses: bazelbuild/setup-bazelisk@b39c379c82683a5f25d34f0d062761f62693e0b2  # v3

    - name: Install libtinfo5
      run: |
        # Workaround for https://github.com/llvm/llvm-project/issues/75490
        curl -LO "http://archive.ubuntu.com/ubuntu/pool/universe/n/ncurses/libtinfo5_6.3-2ubuntu0.1_amd64.deb"
        sudo dpkg -i "libtinfo5_6.3-2ubuntu0.1_amd64.deb"
        rm "libtinfo5_6.3-2ubuntu0.1_amd64.deb"

    - name: Run Bazel test (${{ matrix.mode }})
      run: |
        cd bazel
        if [[ "${{ matrix.mode }}" == "bzlmod" ]]; then
          bazel test --enable_bzlmod --test_output=errors //...
        else
          bazel test --test_output=errors //...
        fi

    - name: Build Bazel targets (${{ matrix.mode }})
      run: |
        cd bazel
        if [[ "${{ matrix.mode }}" == "bzlmod" ]]; then
          bazel build --enable_bzlmod //...
        else
          bazel build //...
        fi

  build-and-publish:
    if: >-
      github.event_name == 'release'
      && startsWith(github.event.release.name, 'bins-')
    uses: ./.github/workflows/_bazel.yml
    permissions:
      contents: write
    with:
      mode: workspace
      enable-publishing: true

  status:
    runs-on: ubuntu-24.04
    if: >-
      always()
      && github.event_name == 'pull_request'
    name: Bazel
    needs:
    - should
    - test
    steps:
    - run: |
        if [[ "${{ contains(needs.*.result, 'failure') }}" == "true" || "${{ contains(needs.*.result, 'cancelled') }}" == "true" ]]; then
            echo "One or more jobs failed or were cancelled"
            exit 1
        fi
        echo "All required jobs passed or were skipped"
