name: Bazel tests (bzlmod)

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
    - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  should:
    runs-on: ubuntu-24.04
    outputs:
      run: ${{ steps.filter.outputs.run }}
    steps:
    - uses: envoyproxy/toolshed/gh-actions/github/should-run@c04bdf5c854da00a30144f3597967e73ca376f38
      id: filter
      with:
        config: |
          paths:
          - 'bazel/**'
          - '.github/workflows/bzlmod.yml'
          - '.github/workflows/_bazel.yml'

  test:
    if: >-
      always()
      && fromJSON(needs.should.outputs.run || 'false')
    needs: should
    uses: ./.github/workflows/_bazel.yml
    permissions:
      contents: read
    with:
      mode: bzlmod
      enable-publishing: false

  status:
    runs-on: ubuntu-24.04
    if: >-
      always()
      && github.event_name == 'pull_request'
    name: Bazel (bzlmod)
    needs:
    - should
    - test
    steps:
    - run: |
        if [[ "${{ contains(needs.*.result, 'failure') }}" == "true" || "${{ contains(needs.*.result, 'cancelled') }}" == "true" ]]; then
            echo "One or more jobs failed or were cancelled"
            exit 1
        fi
        echo "All required jobs passed or were skipped"
