name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  release:
    types:
      released

jobs:
  test:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'envoyproxy'
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: "3.9"
    - name: Cache pants
      uses: actions/cache@v3
      with:
        key: ${{ runner.os }}-${{ hashFiles('pants*toml') }}
        path: ~/.cache/pants
    - name: Run pants test
      run: "./scripts/pants test ::"
    - name: Archive code coverage results
      uses: actions/upload-artifact@v3
      with:
        name: coverage
        path: dist/coverage/python/htmlcov/

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: "3.9"
    - name: Cache pants
      uses: actions/cache@v3
      with:
        key: ${{ runner.os }}-${{ hashFiles('pants*toml') }}
        path: ~/.cache/pants
    - name: Run pants lint
      run: "./scripts/pants lint ::"

  typecheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: "3.9"
    - name: Cache pants
      uses: actions/cache@v3
      with:
        key: ${{ runner.os }}-${{ hashFiles('pants*toml') }}
        path: ~/.cache/pants
    - name: Run pants (type) check
      run: "./scripts/pants check ::"
#  docs:
#    runs-on: ubuntu-latest
#    steps:
#    - uses: actions/checkout@v3
#    - uses: actions/setup-python@v4
#      with:
#        python-version: "3.9"
#    - name: Cache pants
#      uses: actions/cache@v3
#      with:
#        key: ${{ runner.os }}-${{ hashFiles('pants*toml') }}
#        path: ~/.cache/pants
#    - name: Run pants README
#      run: "./scripts/pants readme --check=README.md ::"

  package:
    runs-on: ubuntu-latest
    needs:
    - test
    - lint
    - typecheck
#    - docs
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: "3.9"
    - name: Cache pants
      uses: actions/cache@v3
      with:
        key: ${{ runner.os }}-${{ hashFiles('pants*toml') }}
        path: ~/.cache/pants
    - name: Run pants package
      run: "./scripts/pants package ::"
    - name: Archive created packages
      uses: actions/upload-artifact@v3
      with:
        name: packages
        path: dist

  publish:
    runs-on: ubuntu-latest
    needs:
    - package
    steps:
    - uses: actions/checkout@v3
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@v3
    - uses: actions/setup-python@v4
      with:
        python-version: "3.9"
    - name: Find packages to publish
      run: |
        echo "PUBLISH_PACKAGES=true" >> $GITHUB_ENV
        mkdir dist-out
        find packages/ -maxdepth 1 -type f ! -path "*dev*" | xargs -I{} cp {} dist-out/
        [ "$(ls -A dist-out)" ] || echo "PUBLISH_PACKAGES=false" >> $GITHUB_ENV
    - name: Publish to PyPi
      if: github.event_name == 'release' && startsWith(github.ref, 'refs/tags') && env.PUBLISH_PACKAGES == 'true'
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
        packages_dir: dist-out/
