name: CI

on:
- push
- pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    - name: Install pants
      run: pip install pantsbuild.pants==2.6.1
    - name: Run pants test
      run: "pants test ::"
    - name: Archive code coverage results
      uses: actions/upload-artifact@v2
      with:
        name: coverage
        path: dist/coverage/python/htmlcov/

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    - name: Install pants
      run: pip install pantsbuild.pants==2.6.1
    - name: Run pants lint
      run: "pants lint ::"

  typecheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    - name: Install pants
      run: pip install pantsbuild.pants==2.6.1
    - name: Run pants typecheck
      run: "pants typecheck ::"

  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    - name: Install pants
      run: pip install pantsbuild.pants==2.6.1
    - name: Run pants README
      run: "pants readme --check=README.md ::"

  package:
    runs-on: ubuntu-latest
    needs:
    - test
    - lint
    - typecheck
    - docs
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    - name: Install pants
      run: pip install pantsbuild.pants==2.6.1
    - name: Run pants package
      run: "pants package ::"
    - name: Archive created packages
      uses: actions/upload-artifact@v2
      with:
        name: packages
        path: dist

  publish:
    runs-on: ubuntu-latest
    needs:
    - package
    steps:
    - uses: actions/checkout@v1
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@v2
    - uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    - name: Find packages to publish
      run: |
        echo "PUBLISH_PACKAGES=true" >> $GITHUB_ENV
        mkdir dist-out
        find packages/ -maxdepth 1 -type f ! -path "*dev*" | xargs -I{} cp {} dist-out/
        [ "$(ls -A dist-out)" ] || echo "PUBLISH_PACKAGES=false" >> $GITHUB_ENV
    - name: Publish to PyPi
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags') && env.PUBLISH_PACKAGES == 'true'
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
        packages_dir: dist-out/
