name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  release:
    types:
      released

permissions:
  contents: read

jobs:
  test:
    runs-on: envoy-x64-small
    if: github.repository_owner == 'envoyproxy'
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332  # v4.1.7
    - uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d  # v5.1.0
      with:
        python-version: "3.9"
    - name: Cache pants
      uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9  # v4.0.2
      with:
        key: ${{ runner.os }}-${{ hashFiles('pants*toml') }}
        path: ~/.cache/pants/setup
    - name: Run pants test
      run: "./pants --colors test ::"
    - name: Archive code coverage results
      uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808  # v4.3.3
      with:
        name: coverage
        path: dist/coverage/python/htmlcov/

  lint:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332  # v4.1.7
    - uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d  # v5.1.0
      with:
        python-version: "3.9"
    - name: Cache pants
      uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9  # v4.0.2
      with:
        key: ${{ runner.os }}-${{ hashFiles('pants*toml') }}
        path: ~/.cache/pants/setup
    - name: Run pants lint
      run: "./pants --colors lint ::"

  lint-envoy:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332  # v4.1.7
    - uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d  # v5.1.0
      with:
        python-version: "3.11"
    - run: pip install envoy.code.check>=0.5.11
    - run: |
        envoy.code.check . -c glint shellcheck yamllint  -x ".*/dist/.*"

  typecheck:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332  # v4.1.7
    - uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d  # v5.1.0
      with:
        python-version: "3.9"
    - name: Cache pants
      uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9  # v4.0.2
      with:
        key: ${{ runner.os }}-${{ hashFiles('pants*toml') }}
        path: ~/.cache/pants/setup
    - name: Run pants (type) check
      run: "./pants --colors check ::"
  docs:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332  # v4.1.7
    - uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d  # v5.1.0
      with:
        python-version: "3.9"
    - name: Cache pants
      uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9  # v4.0.2
      with:
        key: ${{ runner.os }}-${{ hashFiles('pants*toml') }}
        path: ~/.cache/pants/setup
    - name: Run pants README
      run: "./pants --colors readme --check=README.md ::"

  package:
    runs-on: ubuntu-22.04
    needs:
    - test
    - lint
    - typecheck
    - docs
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332  # v4.1.7
    - uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d  # v5.1.0
      with:
        python-version: "3.9"
    - name: Cache pants
      uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9  # v4.0.2
      with:
        key: ${{ runner.os }}-${{ hashFiles('pants*toml') }}
        path: ~/.cache/pants/setup
    - name: Run pants package
      run: "./pants --colors package ::"
    - name: Archive created packages
      uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808  # v4.3.3
      with:
        name: packages
        path: dist

  publish:
    runs-on: ubuntu-22.04
    needs:
    - package
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332  # v4.1.7
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@65a9edc5881444af0b9093a5e628f2fe47ea3b2e  # v4.1.7
    - uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d  # v5.1.0
      with:
        python-version: "3.9"
    - name: Find packages to publish
      run: |
        echo "PUBLISH_PACKAGES=true" >> $GITHUB_ENV
        mkdir dist-out
        find packages/ -maxdepth 1 -type f ! -path "*dev*" | xargs -I{} cp {} dist-out/
        [ "$(ls -A dist-out)" ] || echo "PUBLISH_PACKAGES=false" >> $GITHUB_ENV
    - name: Publish to PyPi
      if: github.event_name == 'release' && startsWith(github.ref, 'refs/tags') && env.PUBLISH_PACKAGES == 'true'
      uses: pypa/gh-action-pypi-publish@ec4db0b4ddc65acdf4bff5fa45ac92d78b56bdf0  # release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
        packages_dir: dist-out/
