name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  release:
    types:
      released

permissions:
  contents: read

jobs:
  test:
    runs-on: envoy-x64-small
    if: github.repository_owner == 'envoyproxy'
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  # v4.1.1
    - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c  # v5.0.0
      with:
        python-version: "3.9"
    - name: Cache pants
      uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84  # v3.3.2
      with:
        key: ${{ runner.os }}-${{ hashFiles('pants*toml') }}
        path: ~/.cache/pants/setup
    - name: Run pants test
      run: "./pants --colors test ::"
    - name: Archive code coverage results
      uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32  # v3.1.3
      with:
        name: coverage
        path: dist/coverage/python/htmlcov/

  lint:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  # v4.1.1
    - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c  # v5.0.0
      with:
        python-version: "3.9"
    - name: Cache pants
      uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84  # v3.3.2
      with:
        key: ${{ runner.os }}-${{ hashFiles('pants*toml') }}
        path: ~/.cache/pants/setup
    - name: Run pants lint
      run: "./pants --colors lint ::"

  lint-envoy:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  # v4.1.1
    - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c  # v5.0.0
      with:
        python-version: "3.11"
    - run: pip install envoy.code.check
    - run: |
        envoy.code.check . -c glint shellcheck yamllint  -x ".*/dist/.*"

  typecheck:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  # v4.1.1
    - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c  # v5.0.0
      with:
        python-version: "3.9"
    - name: Cache pants
      uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84  # v3.3.2
      with:
        key: ${{ runner.os }}-${{ hashFiles('pants*toml') }}
        path: ~/.cache/pants/setup
    - name: Run pants (type) check
      run: "./pants --colors check ::"
  docs:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  # v4.1.1
    - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c  # v5.0.0
      with:
        python-version: "3.9"
    - name: Cache pants
      uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84  # v3.3.2
      with:
        key: ${{ runner.os }}-${{ hashFiles('pants*toml') }}
        path: ~/.cache/pants/setup
    - name: Run pants README
      run: "./pants --colors readme --check=README.md ::"

  package:
    runs-on: ubuntu-22.04
    needs:
    - test
    - lint
    - typecheck
    - docs
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  # v4.1.1
    - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c  # v5.0.0
      with:
        python-version: "3.9"
    - name: Cache pants
      uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84  # v3.3.2
      with:
        key: ${{ runner.os }}-${{ hashFiles('pants*toml') }}
        path: ~/.cache/pants/setup
    - name: Run pants package
      run: "./pants --colors package ::"
    - name: Archive created packages
      uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32  # v3.1.3
      with:
        name: packages
        path: dist

  publish:
    runs-on: ubuntu-22.04
    needs:
    - package
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  # v4.1.1
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a  # v3.0.2
    - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c  # v5.0.0
      with:
        python-version: "3.9"
    - name: Find packages to publish
      run: |
        echo "PUBLISH_PACKAGES=true" >> $GITHUB_ENV
        mkdir dist-out
        find packages/ -maxdepth 1 -type f ! -path "*dev*" | xargs -I{} cp {} dist-out/
        [ "$(ls -A dist-out)" ] || echo "PUBLISH_PACKAGES=false" >> $GITHUB_ENV
    - name: Publish to PyPi
      if: github.event_name == 'release' && startsWith(github.ref, 'refs/tags') && env.PUBLISH_PACKAGES == 'true'
      uses: pypa/gh-action-pypi-publish@2f6f737ca5f74c637829c0f5c3acd0e29ea5e8bf  # release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
        packages_dir: dist-out/
