name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  release:
    types:
      released

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-24.04
    if: github.repository_owner == 'envoyproxy'
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
    - uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55  # v5.5.0
      with:
        python-version: "3.11"
    - name: Initialize Pants
      uses: pantsbuild/actions/init-pants@ab362158088bb31685015e7f5728a4c1df3c0e6e  # v10
      with:
        gha-cache-key: "v0-${{ runner.os }}"
        named-caches-hash: "${{ hashFiles('pants*toml') }}"
    - name: Run pants test
      run: "pants --colors test ::"
    - name: Archive code coverage results
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02  # v4.6.2
      with:
        name: coverage
        path: dist/coverage/python/htmlcov/

  lint:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
    - uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55  # v5.5.0
      with:
        python-version: "3.11"
    - name: Initialize Pants
      uses: pantsbuild/actions/init-pants@ab362158088bb31685015e7f5728a4c1df3c0e6e  # v10
      with:
        gha-cache-key: "v0-${{ runner.os }}"
        named-caches-hash: "${{ hashFiles('pants*toml') }}"
    - name: Run pants lint
      run: "pants --colors lint ::"

  lint-envoy:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
    - uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55  # v5.5.0
      with:
        python-version: "3.11"
    - run: pip install --require-hashes -r .github/workflows/requirements.txt
    - run: |
        envoy.code.check . -c glint shellcheck yamllint  -x ".*/dist/.*"

  typecheck:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
    - uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55  # v5.5.0
      with:
        python-version: "3.11"
    - name: Initialize Pants
      uses: pantsbuild/actions/init-pants@ab362158088bb31685015e7f5728a4c1df3c0e6e  # v10
      with:
        gha-cache-key: "v0-${{ runner.os }}"
        named-caches-hash: "${{ hashFiles('pants*toml') }}"
    - name: Run pants (type) check
      run: "pants --colors check ::"
  docs:
    runs-on: ubuntu-24.04
    # TODO: reenable once plugin is fixed
    if: false
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
    - uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55  # v5.5.0
      with:
        python-version: "3.11"
    - name: Initialize Pants
      uses: pantsbuild/actions/init-pants@ab362158088bb31685015e7f5728a4c1df3c0e6e  # v10
      with:
        gha-cache-key: "v0-${{ runner.os }}"
        named-caches-hash: "${{ hashFiles('pants*toml') }}"
    - name: Run pants README
      run: "pants --colors readme --check=README.md ::"

  package:
    runs-on: ubuntu-24.04
    needs:
    - test
    - lint
    - typecheck
    # - docs
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
    - uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55  # v5.5.0
      with:
        python-version: "3.11"
    - name: Initialize Pants
      uses: pantsbuild/actions/init-pants@ab362158088bb31685015e7f5728a4c1df3c0e6e  # v10
      with:
        gha-cache-key: "v0-${{ runner.os }}"
        named-caches-hash: "${{ hashFiles('pants*toml') }}"
    - name: Run pants package
      run: "pants --colors package ::"
    - name: Archive created packages
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02  # v4.6.2
      with:
        name: packages
        path: dist

  publish:
    runs-on: ubuntu-24.04
    needs:
    - package
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16  # v4.1.8
    - uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55  # v5.5.0
      with:
        python-version: "3.11"
    - name: Find packages to publish
      run: |
        echo "PUBLISH_PACKAGES=true" >> $GITHUB_ENV
        mkdir dist-out
        find packages/ -maxdepth 1 -type f ! -path "*dev*" | xargs -I{} cp {} dist-out/
        [ "$(ls -A dist-out)" ] || echo "PUBLISH_PACKAGES=false" >> $GITHUB_ENV
    - name: Publish to PyPi
      if: github.event_name == 'release' && startsWith(github.ref, 'refs/tags') && env.PUBLISH_PACKAGES == 'true'
      uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc  # release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
        packages_dir: dist-out/
