name: Clang-tidy parser tests

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
    - main

jobs:
  should:
    runs-on: ubuntu-24.04
    outputs:
      run: ${{ steps.filter.outputs.run }}
    steps:
    - uses: envoyproxy/toolshed/gh-actions/github/should-run@83b35b461aa5ca1d507da9919e85302a4d5a27ff
      id: filter
      with:
        config: |
          paths:
          - 'bazel/format/clang_tidy/parser/**'
          - '.github/workflows/clang-tidy-parser.yml'

  test:
    runs-on: ubuntu-24.04
    needs: should
    if: fromJSON(needs.should.outputs.run)
    steps:
    - name: Checkout Repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0

    - name: Setup Bazel
      uses: bazelbuild/setup-bazelisk@6ecf4fd8b7d1f9721785f1dd656a689acf9add47  # v3

    - name: Run Bazel test
      run: |
        cd bazel
        bazel test --test_output=errors //format/clang_tidy/parser:parse_clang_tidy_test

    - name: Build sh_binary
      run: |
        cd bazel
        bazel build //format/clang_tidy/parser:parse_clang_tidy

  status:
    runs-on: ubuntu-24.04
    if: always()
    name: Clang-tidy parser
    needs:
    - should
    - test
    steps:
    - run: |
        if [[ "${{ contains(needs.*.result, 'failure') }}" == "true" || "${{ contains(needs.*.result, 'cancelled') }}" == "true" ]]; then
            echo "One or more jobs failed or were cancelled"
            exit 1
        fi
        echo "All required jobs passed or were skipped"
