name: Lint

on:
  push:
    branches:
    - "main"
  pull_request:
    branches:
    - "main"

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: "3.13"
    - run: pip install --require-hashes -r .github/workflows/requirements.txt
    - run: |
        envoy.code.check . -c glint shellcheck yamllint  -x ".*/dist/.*" -x "rust/glint/tests/fixtures/.*.txt"
