name: Publish release

permissions:
  actions: read

on:
  workflow_run:
    workflows:
    - Bazel CI
    - Rust CI
    types:
    - completed


jobs:
  check-and-publish:
    permissions:
      actions: read
    uses: ./.github/workflows/_publish.yml
    with:
      workflows: |
        Bazel CI
        Rust CI
