name: Python

on:
  push:
    branches:
    - "main"
  pull_request:
    branches:
    - "main"
  release:
    types:
      released

permissions:
  contents: read

jobs:
  should:
    runs-on: ubuntu-24.04
    if: github.event_name != 'release'
    outputs:
      run: ${{ steps.filter.outputs.run }}
    steps:
    - uses: envoyproxy/toolshed/gh-actions/github/should-run@bccac0f1695cc07c67c46d5f494db6cef3e0a94e
      id: filter
      with:
        config: |
          paths:
          - '**/*.py'
          - '**/*.pyi'
          - '**/BUILD'
          - '**/BUILD.pyi'
          - '**/BUILD.tools'
          - '.github/workflows/py.yml'
          - 'pants.toml'
          - 'pants.ci.toml'
          - '.coveragerc'
          - '.flake8'
          - '.flake8.lock'
          - 'mypy.ini'
          - 'pytest.ini'
          - 'py/**'
          - 'patches/**'

  test:
    runs-on: ubuntu-24.04
    needs: should
    if: >-
      github.repository_owner == 'envoyproxy'
      && github.event_type != 'release'
      && fromJSON(needs.should.outputs.run)
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: "3.12"
    - name: Initialize Pants
      uses: pantsbuild/actions/init-pants@ab362158088bb31685015e7f5728a4c1df3c0e6e  # v10
      with:
        gha-cache-key: "v0-${{ runner.os }}"
        named-caches-hash: "${{ hashFiles('pants*toml') }}"
    - name: Run pants test
      run: "pants --colors test ::"
    - name: Archive code coverage results
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
      with:
        name: coverage
        path: dist/coverage/python/htmlcov/

  lint:
    runs-on: ubuntu-24.04
    needs: should
    if: >-
      github.event_type != 'release'
      && fromJSON(needs.should.outputs.run)
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: "3.12"
    - name: Initialize Pants
      uses: pantsbuild/actions/init-pants@ab362158088bb31685015e7f5728a4c1df3c0e6e  # v10
      with:
        gha-cache-key: "v0-${{ runner.os }}"
        named-caches-hash: "${{ hashFiles('pants*toml') }}"
    - name: Run pants lint
      run: "pants --colors lint ::"

  typecheck:
    runs-on: ubuntu-24.04
    needs: should
    if: >-
      github.event_type != 'release'
      && fromJSON(needs.should.outputs.run)
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: "3.12"
    - name: Initialize Pants
      uses: pantsbuild/actions/init-pants@ab362158088bb31685015e7f5728a4c1df3c0e6e  # v10
      with:
        gha-cache-key: "v0-${{ runner.os }}"
        named-caches-hash: "${{ hashFiles('pants*toml') }}"
    - name: Run pants (type) check
      run: "pants --colors check ::"
  docs:
    runs-on: ubuntu-24.04
    # TODO: reenable once plugin is fixed
    if: false
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: "3.12"
    - name: Initialize Pants
      uses: pantsbuild/actions/init-pants@ab362158088bb31685015e7f5728a4c1df3c0e6e  # v10
      with:
        gha-cache-key: "v0-${{ runner.os }}"
        named-caches-hash: "${{ hashFiles('pants*toml') }}"
    - name: Run pants README
      run: "pants --colors readme --check=README.md ::"

  package:
    runs-on: ubuntu-24.04
    needs:
    - should
    - test
    - lint
    - typecheck
    # - docs
    if: >-
      github.event_name == 'release'
      || fromJSON(needs.should.outputs.run)
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: "3.12"
    - name: Initialize Pants
      uses: pantsbuild/actions/init-pants@ab362158088bb31685015e7f5728a4c1df3c0e6e  # v10
      with:
        gha-cache-key: "v0-${{ runner.os }}"
        named-caches-hash: "${{ hashFiles('pants*toml') }}"
    - name: Run pants package
      run: "pants --colors package ::"
    - name: Archive created packages
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
      with:
        name: packages
        path: dist

  publish:
    runs-on: ubuntu-24.04
    if: >-
      github.event_name == 'release'
      || fromJSON(needs.should.outputs.run)
    needs:
    - package
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: "3.12"
    - name: Find packages to publish
      run: |
        echo "PUBLISH_PACKAGES=true" >> $GITHUB_ENV
        mkdir dist-out
        find packages/ -maxdepth 1 -type f ! -path "*dev*" | xargs -I{} cp {} dist-out/
        [ "$(ls -A dist-out)" ] || echo "PUBLISH_PACKAGES=false" >> $GITHUB_ENV
    - name: Publish to PyPi
      if: github.event_name == 'release' && startsWith(github.ref, 'refs/tags') && env.PUBLISH_PACKAGES == 'true'
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
        packages_dir: dist-out/

  status:
    runs-on: ubuntu-24.04
    if: always()
    name: Python
    needs:
    - should
    - test
    - lint
    - typecheck
    - package
    - publish
    steps:
    - run: |
        if [[ "${{ contains(needs.*.result, 'failure') }}" == "true" || "${{ contains(needs.*.result, 'cancelled') }}" == "true" ]]; then
            echo "One or more jobs failed or were cancelled"
            exit 1
        fi
        echo "All required jobs passed or were skipped"
