name: Build Sanitizer Libraries

on:
  push:
    branches:
    - main
    paths:
    - 'bazel/compile/**'
    - 'bazel/deps.bzl'
    - 'bazel/archives.bzl'
    - 'bazel/versions.bzl'
    - '.github/workflows/sanitizer-libs.yml'
  pull_request:
    paths:
    - 'bazel/compile/**'
    - 'bazel/deps.bzl'
    - 'bazel/archives.bzl'
    - 'bazel/versions.bzl'
    - '.github/workflows/sanitizer-libs.yml'
  release:
    types:
      released

permissions:
  contents: read


jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        sanitizer: [msan, tsan]
    steps:
    - uses: actions/checkout@v6
    - name: Setup Bazel
      uses: bazelbuild/setup-bazelisk@v3
    - name: Install libtinfo
      run: |
        sudo apt-get -qq update
        sudo apt-get -qq install -y libtinfo5
    - name: Build ${{ matrix.sanitizer }} libraries
      run: |
        cd bazel
        bazel build //compile:cxx_${{ matrix.sanitizer }}
    - name: Upload ${{ matrix.sanitizer }} libraries
      uses: actions/upload-artifact@v6.0.0
      with:
        name: ${{ matrix.sanitizer }}-llvm18.1.8-x86_64
        path: bazel/bazel-bin/compile/${{ matrix.sanitizer }}-llvm18.1.8-x86_64.tar.xz
        retention-days: 30

  publish:
    if: github.event_name == 'release' && startsWith(github.event.release.name, 'bazel-bins')
    runs-on: ubuntu-24.04
    needs:
    - build
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
      with:
        path: artifacts
    - name: Upload release assets
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        for artifact in artifacts/*; do
            [[ ! -d "$artifact" ]] && continue
            name=$(basename "$artifact")
            file=$(ls "$artifact"/*.tar.xz)
            echo "Uploading $file as $name.tar.xz"
            gh release upload "${{ github.event.release.tag_name }}" \
                "$file#$name.tar.xz" \
                --clobber
        done

  status:
    runs-on: ubuntu-24.04
    if: always()
    needs:
    - build
    steps:
    - run: |
        if [[ "${{ contains(needs.*.result, 'failure') }}" == "true" || "${{ contains(needs.*.result, 'cancelled') }}" == "true" ]]; then
            echo "One or more jobs failed or were cancelled"
            exit 1
        fi
        echo "All required jobs passed or were skipped"
