name: Build Sanitizer Libraries

on:
  push:
    branches:
    - main
  pull_request:
  release:
    types:
    - published

permissions:
  contents: read


jobs:
  should:
    runs-on: ubuntu-24.04
    if: github.event_name != 'release'
    outputs:
      run: ${{ steps.filter.outputs.run }}
    steps:
    - uses: envoyproxy/toolshed/gh-actions/github/should-run@bccac0f1695cc07c67c46d5f494db6cef3e0a94e
      id: filter
      with:
        config: |
          paths:
          - 'bazel/compile/**'
          - 'bazel/deps.bzl'
          - 'bazel/archives.bzl'
          - 'bazel/versions.bzl'
          - '.github/workflows/sanitizer-libs.yml'

  build:
    runs-on: ubuntu-22.04
    needs: should
    if: >-
      github.event_name == 'release'
      || fromJSON(needs.should.outputs.run || 'false')
    strategy:
      matrix:
        sanitizer: [msan, tsan]
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
    - name: Setup Bazel
      uses: bazelbuild/setup-bazelisk@6ecf4fd8b7d1f9721785f1dd656a689acf9add47  # v3
    - name: Install libtinfo
      run: |
        sudo apt-get -qq update
        sudo apt-get -qq install -y libtinfo5
    - name: Build ${{ matrix.sanitizer }} libraries
      run: |
        cd bazel
        bazel build //compile:cxx_${{ matrix.sanitizer }}
    - name: Upload ${{ matrix.sanitizer }} libraries
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
      with:
        name: ${{ matrix.sanitizer }}-llvm18.1.8-x86_64
        path: bazel/bazel-bin/compile/${{ matrix.sanitizer }}-llvm18.1.8-x86_64.tar.xz
        retention-days: 30

  publish:
    if: >-
      github.event_name == 'release'
      && startsWith(github.event.release.name, 'bazel-bins')
    runs-on: ubuntu-24.04
    needs:
    - build
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
      with:
        path: artifacts
    - name: Upload release assets
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        for artifact in artifacts/*; do
            [[ ! -d "$artifact" ]] && continue
            name=$(basename "$artifact")
            file=$(ls "$artifact"/*.tar.xz)
            echo "Uploading $file as $name.tar.xz"
            gh release upload "${{ github.event.release.tag_name }}" \
                "$file#$name.tar.xz" \
                --clobber
        done

  status:
    runs-on: ubuntu-24.04
    if: >-
      always()
      && github.event_name == 'pull_request'
    name: Sanitizers
    needs:
    - should
    - build
    steps:
    - run: |
        if [[ "${{ contains(needs.*.result, 'failure') }}" == "true" || "${{ contains(needs.*.result, 'cancelled') }}" == "true" ]]; then
            echo "One or more jobs failed or were cancelled"
            exit 1
        fi
        echo "All required jobs passed or were skipped"
