name: Ba/sh tests

permissions:
  contents: read

on:
  pull_request:
    paths:
    - sh/**
    - .github/workflows/sh.yml
    - get-pants.sh
  push:
    paths:
    - sh/**
    - .github/workflows/sh.yml
    - get-pants.sh


jobs:
  shebang:
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform:
        - ubuntu-24.04
        # - macos-14
        test:
        - ./sh/tests/test_watch.sh ./sh/watch.sh

    steps:
    - name: Checkout Repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
    - run: |
        sudo apt-get update
        sudo apt-get  -qq install -y inotify-tools
      if: ${{ matrix.platform == 'ubuntu-24.04' }}
    - run: |
        brew install bash coreutils fswatch gnu-tar
      if: ${{ matrix.platform == 'macos-14' }}
    - run: ${{ matrix.test }}
      env:
        DEBUG:

  status:
    runs-on: ubuntu-24.04
    if: always()
    name: Sh
    needs:
    - shebang
    steps:
    - run: |
        if [[ "${{ contains(needs.*.result, 'failure') }}" == "true" || "${{ contains(needs.*.result, 'cancelled') }}" == "true" ]]; then
            echo "One or more jobs failed or were cancelled"
            exit 1
        fi
        echo "All required jobs passed or were skipped"
