name: Build Sysroots

on:
  push:
    branches:
    - main
    paths:
    - 'sysroot/**'
    - '.github/workflows/sysroot.yml'
  pull_request:
    paths:
    - 'sysroot/**'
    - '.github/workflows/sysroot.yml'
  release:
    types:
      released

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        include:
        - arch: amd64
          runs-on: ubuntu-24.04
          variant: base
        - arch: arm64
          runs-on: ubuntu-24.04-arm
          variant: base
        - arch: amd64
          runs-on: ubuntu-24.04
          variant: libstdcxx
        - arch: arm64
          runs-on: ubuntu-24.04-arm
          variant: libstdcxx
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
    - name: Set versions
      id: versions
      run: |
        echo "ppa-toolchain=${PPA_TOOLCHAIN_VERSION}" >> $GITHUB_OUTPUT
        echo "debian=${DEBIAN_VERSION}" >> $GITHUB_OUTPUT
        echo "stdcc=${STDCC_VERSION}" >> $GITHUB_OUTPUT
        echo "glibc=${GLIBC_VERSION}" >> $GITHUB_OUTPUT
      env:
        PPA_TOOLCHAIN_VERSION: focal
        DEBIAN_VERSION: bullseye
        STDCC_VERSION: 13
        GLIBC_VERSION: 2.31

    - name: Install debootstrap/
      run: |
        sudo apt-get -qq update
        sudo apt-get -qq install -y debootstrap
    - name: Build ${{ matrix.arch }} ${{ matrix.variant }} sysroot
      run: |
        sudo debootstrap \
          --arch=${{ matrix.arch }} \
          --variant=minbase \
          ${{ steps.versions.outputs.debian }} \
          sysroot-${{ matrix.arch }} \
          http://deb.debian.org/debian/
        sudo chroot sysroot-${{ matrix.arch }} apt-get -qq update
        sudo chroot sysroot-${{ matrix.arch }} apt-get -qq install --no-install-recommends -y ${PACKAGES}
        if [[ "${{ matrix.variant }}" == "libstdcxx" ]]; then
            echo "deb http://ppa.launchpad.net/ubuntu-toolchain-r/test/ubuntu ${{ steps.versions.outputs.ppa-toolchain }} main" \
              | sudo tee sysroot-${{ matrix.arch }}/etc/apt/sources.list.d/toolchain.list
            sudo apt-key --keyring sysroot-${{ matrix.arch }}/etc/apt/trusted.gpg adv \
              --keyserver keyserver.ubuntu.com --recv-keys 1E9377A2BA9EF27F
            sudo chroot sysroot-${{ matrix.arch }} apt-get -qq update
            sudo chroot sysroot-${{ matrix.arch }} apt-get -qq install -y libstdc++-${{ steps.versions.outputs.stdcc }}-dev
        fi
      env:
        PACKAGES: >-
          libc6
          libc6-dev
          libgcc-s1
          linux-libc-dev
          libxml2-dev
    - name: Cleanup sysroot
      run: |
        sudo chroot sysroot-${{ matrix.arch }} apt-get clean
        sudo rm -rf "sysroot-${{ matrix.arch }}/boot"
        sudo rm -rf "sysroot-${{ matrix.arch }}/bin"
        sudo rm -rf "sysroot-${{ matrix.arch }}/dev"
        sudo rm -rf "sysroot-${{ matrix.arch }}/etc/alternatives"
        sudo rm -rf "sysroot-${{ matrix.arch }}/etc/rmt"
        sudo rm -rf "sysroot-${{ matrix.arch }}/etc/systemd"
        sudo rm -rf "sysroot-${{ matrix.arch }}/etc/localtime"
        sudo rm -rf "sysroot-${{ matrix.arch }}/home"
        sudo rm -rf "sysroot-${{ matrix.arch }}/media"
        sudo rm -rf "sysroot-${{ matrix.arch }}/opt"
        sudo rm -rf "sysroot-${{ matrix.arch }}/proc"
        sudo rm -rf "sysroot-${{ matrix.arch }}/root"
        sudo rm -rf "sysroot-${{ matrix.arch }}/run"
        sudo rm -rf "sysroot-${{ matrix.arch }}/sbin"
        sudo rm -rf "sysroot-${{ matrix.arch }}/srv"
        sudo rm -rf "sysroot-${{ matrix.arch }}/sys"
        sudo rm -rf "sysroot-${{ matrix.arch }}/tmp"
        sudo rm -rf "sysroot-${{ matrix.arch }}/usr/bin/awk"
        sudo rm -rf "sysroot-${{ matrix.arch }}/usr/bin/nawk"
        sudo rm -rf "sysroot-${{ matrix.arch }}/usr/bin/pager"
        sudo rm -rf "sysroot-${{ matrix.arch }}/usr/bin/pidof"
        sudo rm -rf "sysroot-${{ matrix.arch }}/usr/sbin"
        sudo rm -rf "sysroot-${{ matrix.arch }}/usr/share/doc"
        sudo rm -rf "sysroot-${{ matrix.arch }}/usr/share/info"
        sudo rm -rf "sysroot-${{ matrix.arch }}/usr/share/lintian"
        sudo rm -rf "sysroot-${{ matrix.arch }}/usr/share/man"
        sudo rm -rf "sysroot-${{ matrix.arch }}/usr/share/zoneinfo"
        sudo rm -rf "sysroot-${{ matrix.arch }}/var"

        if [[ "${{ matrix.variant }}" == "libstdcxx" ]]; then
            sudo rm -rf sysroot-${{ matrix.arch }}/etc/apt/sources.list.d/*
        fi

        root_dir="sysroot-${{ matrix.arch }}"
        find "$root_dir" -type l | while read symlink; do
            # Get the current target
            current_target=$(readlink "$symlink")

            # Skip if already relative
            if [[ "$current_target" != /* ]]; then
                continue
            fi

            # If target exists within our sysroot, make it relative
            if [[ -e "$root_dir$current_target" ]]; then
                link_dir=$(dirname "$symlink")
                relative_path=$(realpath --relative-to="$link_dir" "$root_dir$current_target")
                sudo ln -sf "$relative_path" "$symlink"

                echo "Fixed: $symlink -> $relative_path (was: $current_target)"
            else
                echo "Skipping - target outside sysroot: $symlink -> $current_target"
            fi
        done

    - name: Package sysroot
      run: |
        if [[ "${{ matrix.variant }}" == "libstdcxx" ]]; then
            sudo tar -cJf \
                sysroot-glibc${{ steps.versions.outputs.glibc }}-libstdc++${{ steps.versions.outputs.stdcc }}-${{ matrix.arch }}.tar.xz \
                -C sysroot-${{ matrix.arch }} \
                .
        else
            sudo tar -cJf \
                sysroot-glibc${{ steps.versions.outputs.glibc }}-${{ matrix.arch }}.tar.xz \
                -C sysroot-${{ matrix.arch }} \
                .
        fi
    - name: Upload ${{ matrix.arch }} ${{ matrix.variant }} sysroot
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
      with:
        name: >-
          sysroot-glibc${{
              steps.versions.outputs.glibc
          }}${{
              matrix.variant == 'libstdcxx' && format('-libstdc++{0}', steps.versions.outputs.stdcc) || ''
          }}-${{ matrix.arch }}
        path: >-
          sysroot-glibc${{
              steps.versions.outputs.glibc
          }}${{
              matrix.variant == 'libstdcxx' && format('-libstdc++{0}', steps.versions.outputs.stdcc) || ''
          }}-${{ matrix.arch }}.tar.xz
        retention-days: 30

  publish:
    if: github.event_name == 'release' && startsWith(github.event.release.name, 'bazel-bins')
    runs-on: ubuntu-24.04
    needs:
    - build
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53  # v6.0.0
      with:
        path: artifacts
    - name: Upload release assets
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        for artifact in artifacts/*; do
            [[ ! -d "$artifact" ]] && continue
            name=$(basename "$artifact")
            file=$(ls "$artifact"/*.tar.xz)
            echo "Uploading $file as $name.tar.xz"
            gh release upload "${{ github.event.release.tag_name }}" \
                "$file#$name.tar.xz" \
                --clobber
        done
